<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pagina C</title>
    
    <link rel="stylesheet" href="/styles/paginaC.css">
</head>
<body>
    <header>
        <h1>Pagina C</h1>
    </header>
    <p>Esta es la P치gina C. Navega entre las diferentes p치ginas que encontrar치s a continuaci칩n</p>
    <div class="mainDiv">
        <button class="mainButton" data-url='/paginaA'>Pagina A</button>
        <button class="mainButton" data-url='/paginaB'>Pagina B</button>
    </div>

    <script src="/scripts/paginaC.js"></script>
</body>
</html>